@font-face {
    font-family: 'Charter';
    src: url('fonts/Charter-BoldItalic.woff2') format('woff2'),
        url('fonts/Charter-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('fonts/Charter-Regular.woff2') format('woff2'),
        url('fonts/Charter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('fonts/Charter-Bold.woff2') format('woff2'),
        url('fonts/Charter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Charter';
    src: url('fonts/Charter-Italic.woff2') format('woff2'),
        url('fonts/Charter-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost*';
    src: url('fonts/Jost-Bold.woff2') format('woff2'),
        url('fonts/Jost-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost*';
    src: url('fonts/Jost-BoldItalic.woff2') format('woff2'),
        url('fonts/Jost-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost*';
    src: url('fonts/Jost-Semi.woff2') format('woff2'),
        url('fonts/Jost-Semi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost*';
    src: url('fonts/Jost-SemiItalic.woff2') format('woff2'),
        url('fonts/Jost-SemiItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost*';
    src: url('fonts/Jost-Book.woff2') format('woff2'),
        url('fonts/Jost-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost*';
    src: url('fonts/Jost-BookItalic.woff2') format('woff2'),
        url('fonts/Jost-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost*';
    src: url('fonts/Jost-Medium.woff2') format('woff2'),
        url('fonts/Jost-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost*';
    src: url('fonts/Jost-MediumItalic.woff2') format('woff2'),
        url('fonts/Jost-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Light.woff2') format('woff2'),
        url('fonts/SourceCodePro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-It.woff2') format('woff2'),
        url('fonts/SourceCodePro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Medium.woff2') format('woff2'),
        url('fonts/SourceCodePro-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-ExtraLight.woff2') format('woff2'),
        url('fonts/SourceCodePro-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-LightIt.woff2') format('woff2'),
        url('fonts/SourceCodePro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-BoldIt.woff2') format('woff2'),
        url('fonts/SourceCodePro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-BlackIt.woff2') format('woff2'),
        url('fonts/SourceCodePro-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-ExtraLightIt.woff2') format('woff2'),
        url('fonts/SourceCodePro-ExtraLightIt.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Bold.woff2') format('woff2'),
        url('fonts/SourceCodePro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Black.woff2') format('woff2'),
        url('fonts/SourceCodePro-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-SemiboldIt.woff2') format('woff2'),
        url('fonts/SourceCodePro-SemiboldIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-MediumIt.woff2') format('woff2'),
        url('fonts/SourceCodePro-MediumIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Semibold.woff2') format('woff2'),
        url('fonts/SourceCodePro-Semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('fonts/SourceCodePro-Regular.woff2') format('woff2'),
        url('fonts/SourceCodePro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
	--bg: #010319;
	--light-bg: #22272E;
	--lighter-bg: #37474F;

	--text-color-light: #E8EAF6;
	--text-color: #C5CAE9;
	--text-color-dark: #ADBAC7;
	--text-color-highlight: #2196F3;
}

* {
	margin: 0px;
}

body {
	color: var(--text-color);
	background-color: var(--bg);
	font-family: "Charter";
}

h1, h2, h3 {
	font-family: "Jost*";
	padding-bottom: 5px;
}

h1 {
	font-size: 2.5em;
	padding-top: 15px;
}

h2 {
	font-size: 1.75em;
	padding-top: 25px;
}

h3 {
	font-size: 1.5em;
	padding-top: 25px;
}

hr {
	margin-bottom: 10px;
}

hr.equalspace {
	margin-top: 8px;
	margin-bottom: 8px;
}

hr.line {
	border: none;
	margin-bottom: 2px;
	height: 3px;
	background-color: black;
}

p, ul, ol {
	font-size: 1.1em;
}

p, ul, ol {
	padding-top: 5px;
	line-height: 1.5em;
	padding-bottom: 20px;
	text-align: justify;
}

ul.multicol, ol.multicol {
	columns: 2;
}

li {
	text-align: left;
	line-height: 1.5em;
	padding-bottom: 5px;
}

ol li::marker {
	font-weight: bold;
}

pre, samp, code {
	font-family: "Source Code Pro";
}

pre {
	margin-bottom: 15px;
}

samp {
	padding: 0px 5px;
	border-radius: 5px;
	background-color: #181818;
	color: var(--text-color);
}

samp.nobg {
	background: none;
}

details > summary {
	font-weight: bold;
	font-size: 1.1em;

	list-style: none;

	cursor: pointer;
	transition: 0.3s;
}

details > summary::-webkit-details-marker {
	display: none;
}

details > summary:hover {
	color: var(--text-color-highlight);
	transition: 0.3s;
}

details > summary > h1:before, details > summary > h2:before,
details > summary > h3:before, details > summary > p:before,
details > summary > span:before, details > summary > code:before,
details > summary > pre:before {
	content: '⮞';
	font-size: 0.8em;
	margin-right: 10px;
	transition: 0.3s;
}

details[open] > summary > h1:before, details[open] > summary > h2:before,
details[open] > summary > h3:before, details[open] > summary > p:before,
details[open] > summary > span:before, details[open] > summary > code:before,
details[open] > summary > pre:before {
	content: '⮟';
	transition: 0.3s;
}

a:link {
	color: #CE93D8;
}

a:hover {
	color: #FFB74D;
}

a:visited {
	color: #F06292;
}

a:active {
	color: #FF8A65;
}

button {
	cursor: pointer;
	background-color: #0D47A1;

	border: none;
	border-radius: 50vw;

	padding: 10px 25px;

	color: #E3F2FD;
	font-family: "Jost*";
	font-size: 1em;

	transition: 0.2s;
}

button:hover {
	color: #EDE7F6;
	background-color: #311B92;
	transition: 0.2s;
}

button:active {
	color: #F1F8E9;
	background-color: #33691E;
	transition: 0.2s;
}

table, th, td {
	padding: 10px;
	border-collapse: collapse;
}

th, td {
	color: var(--text-color-dark);
	background-color: var(--light-bg);
	border-top: 2px solid var(--bg);
	border-left: 2px solid var(--bg);
	border-right: 2px solid var(--bg);
	font-family: "Source Code Pro";
}

table.memory {
	table-layout: fixed;
	width: 100%;
	border: none;
}

table.memory th, table.memory td {
	text-align: center;
	width: 15px;
}

table.memory th {
	border: none;
	color: #FFE0B2;
	background-color: #455A64;
	padding: 0px;
}

table.memory td {
	padding-top: 10px;
	padding-bottom: 10px;
}

table.memory.vertical {
	width: auto;
}

table.memory.vertical th, table.memory.vertical td {
	width: auto;
}

table.memory.vertical th {
	padding: 10px;
	text-align: right;
}

table.memory.vertical td {
	text-align: left;
}

table.memory.big th {
	text-align: right;
	border-right: 2px solid white;
	padding-right: 5px;
}

table.memory.big td {
	height: 30px;
}

table.legend th, table.legend td {
	border: none;
}

table.stylized {
	border: none;
	font-size: 0.9em;
}

table.stylized thead {
	background-color: lightgray;
}

table.stylized thead tr {
	border-bottom: 2px solid #9E9E9E;
}

table.stylized tbody tr {
	border-top: 1px solid #9E9E9E;
	border-bottom: 1px solid #9E9E9E;
}

table.stylized tr.odd {
	background-color: lightgray;
}

table.stylized th, table.stylized td {
	border: none;
}

table.stylized th.centered-cell, table.stylized td.centered-cell {
	text-align: center;
}

.block {
	display: block;
}

.flex {
	display: flex;
}

.flex.col {
	flex-direction: column;
}

.flex.row {
	flex-direction: row;
}

.flex.nostretch {
	align-items: flex-start;
}

.flex.hleft {
	justify-content: flex-start;
}

.flex.hright {
	justify-content: flex-end;
}

.flex.hcentered {
	justify-content: center;
}

.flex.vtop {
	align-items: flex-start;
}

.flex.vbottom {
	align-items: flex-end;
}

.flex.vcentered {
	align-items: center;
}

.fixed {
	position: fixed;
}

.fixed.hleft {
	left: 0;
}

.fixed.hcenter {
	left: 50vw;
	right: 50vw;
}

.fixed.hright {
	right: 0;
}

.fixed.vtop {
	top: 0;
}

.fixed.vcenter {
	top: 50vh;
	bottom: 50vh;
}

.fixed.vright {
	bottom: 0;
}

.grid {
	display: grid;
	justify-items: stretch;
	align-items: stretch;
}

.grid.multicol {
	grid-column-start: 1;
	grid-column-end: 2;
}

.grid .multicol {
	grid-column-start: 1;
	grid-column-end: 2;
}

.grid.nostretch {
	justify-items: start;
	align-items: start;
}

.navhelper {
	font-family: "Jost*";
	padding-top: 25px;
}

.card {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #E8EAF6;
	background-color: #1A237E;
	border: 2px solid #7986CB;
}

.square {
	display: flex;
	flex-direction: column;
	gap: 5px;

	padding: 10px;
	background-color: var(--light-bg);

	font-family: "Source Code Pro";
}

.file .filename {
	display: flex;
	flex-direction: row;

	gap: 5px;
	font-weight: bold;
	color: #F69D50;
}

.file .body {
	white-space: pre;
	padding: 0;
	opacity: 0.8;
}

.file.asm .filename:before {
	content: url('icons/file-text.svg');
}

.file.asm .body.auto:after {
	content: 'mov eax, 1\a mov ebx, 2\a ...';
}

.file.bin .filename:before {
	content: url('icons/hash.svg');
}

.file.bin .body.auto:after {
	content: '66 B8 01 00\a 00 00 66 BB\a ...';
}

.file.elf .filename:before {
	content: url('icons/terminal.svg');
}

.file.elf .body.auto:after {
	content: '7F 45 4C 46\a 01 01 01 00\a ...';
}

.info {
	transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.info:hover {
	scale: 1.1;
	filter: brightness(150%);
	transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.info:hover > .infobox {
	filter: brightness(75%);

	font-size: 0.8em;
	opacity: 1;
	scale: 1;

	transition: 0.4s cubic-bezier(0.33, 1, 0.68, 1);
}

.info > .infobox {
	position: fixed;
	left: 0;
	top: 100%;

	min-width: 15vw;

	margin-top: 5px;
	padding: 10px;

	border-radius: 5px;

	text-align: left;

	opacity: 0;
	scale: 0;

	color: var(--text-color-light);
	background-color: var(--lighter-bg);

	transition: 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.collapsible > #title .checkbox {
	border: 2px solid red;
}

.nospaced {
	gap: 0px;
}

.smallspaced {
	gap: 5px;
}

.spaced {
	gap: 10px;
}

.bigspaced {
	gap: 20px;
}

.extraspaced {
	gap: 40px;
}

.nopad {
	padding: 0px;
}

.smallpad {
	padding: 5px;
}

.pad {
	padding: 10px;
}

.bigpad {
	padding: 20px;
}

.extrapad {
	padding: 40px;
}

.nopad-left {
	padding-left: 0px;
}

.nopad-right {
	padding-right: 0px;
}

.nopad-top {
	padding-top: 0px;
}

.nopad-bottom {
	padding-bottom: 0px;
}

.noborder-left {
	border-left: none;
}

.noborder-right {
	border-right: none;
}

.noborder-top {
	border-top: none;
}

.noborder-bottom {
	border-bottom: none;
}

.indent {
	padding-left: 2vw;
}

.wfull {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
}

.hfull {
	min-height: 100%;
	height: 100%;
	max-height: 100%;
}

.w2 {
	min-width: 50%;
	width: 50%;
	max-width: 50%;
}

.h2 {
	min-height: 50%;
	height: 50%;
	max-height: 50%;
}

.w4 {
	min-width: 25%;
	width: 25%;
	max-width: 25%;
}

.h4 {
	min-height: 25%;
	height: 25%;
	max-height: 25%;
}

.w8 {
	min-width: 12.5%;
	width: 12.5%;
	max-width: 12.5%;
}

.h8 {
	min-height: 12.5%;
	height: 12.5%;
	max-height: 12.5%;
}

.smalltext {
	font-size: 0.7em;
}

.hidden {
	opacity: 0;
}

.hleft {
	float: left;
	margin-right: auto;
}

.hright {
	float: right;
	margin-left: auto;
}

.hcenter {
	margin-left: auto;
	margin-right: auto;
}

.vtop {
	float: top;
	margin-bottom: auto;
}

.vcenter {
	margin-top: auto;
	margin-bottom: auto;
}

.vbottom {
	float: bottom;
	margin-top: auto;
}

.centered-text {
	text-align: center;
}

.dark-text {
	color: var(--bg);
}

.left-aligned-text {
	text-align: left;
}

.right-aligned-text {
	text-align: right;
}

.negative-text-color {
	color: rgb(from var(--text-color) calc(255 - r) calc(255 - g) calc(255 - b));
}

.monospace {
	font-family: "Source Code Pro";
}

.okabe-ito-1 {
	background-color: rgb(0, 158, 115);
}

.okabe-ito-2 {
	background-color: rgb(0, 114, 178);
}

.okabe-ito-3 {
	background-color: rgb(86, 180, 233);
}

.okabe-ito-4 {
	background-color: rgb(240, 228, 66);
}

.okabe-ito-5 {
	background-color: rgb(230, 159, 0);
}

.okabe-ito-6 {
	background-color: rgb(213, 94, 0);
}

.okabe-ito-7 {
	background-color: rgb(204, 121, 167);
}

#presentation p {
	font-family: 'Jost*';
	font-size: 1.5em;

	text-align: left;
}

#content {
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 15vw;
	padding-right: 15vw;
}

#navigator {
	height: 100vh;
	padding: 0px 50px;

	color: var(--text-color);
	text-decoration: none;
	text-align: center;
	line-height: 100vh;
	transition: 0.2s;
}

#navigator:hover {
	background-color: rgba(0, 0, 0, 0.3);
	transition: 0.2s;
}

#footer {
	display: flex;
	flex-direction: row;

	justify-content: center;
	align-items: center;
	gap: 20px;

	text-align: center;
	padding-top: 40px;
}

@media (max-width:961px) {
	.smallscreen {
		display: flex;
	}

	.bigscreen {
		display: none;
	}

	#presentation {
		grid-template-columns: 1fr;
	}
}

@media (min-width:961px) {
	.smallscreen {
		display: none;
	}

	.bigscreen {
		display: flex;
	}

	#presentation {
		grid-template-columns: repeat(2, 1fr);
	}
}